<ngx-spinner></ngx-spinner>
<div>
  <p>
    <mat-toolbar color="primary" fxLayoutGap="10px">
      <mat-icon aria-hidden="false" aria-label="Example home icon">cloud</mat-icon>
      <span>Condiciones climáticas</span>
    </mat-toolbar>
  </p>
  
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.xs="column">
      <mat-form-field  appearance="outline" class="mb-0">
        <mat-label>Seleccione la ciudad</mat-label>
        <mat-select>
          <mat-option *ngFor="let city of cities" [value]="city.id" (click)="selectCity(city)">
            {{city.province}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    <mat-checkbox class="example-margin" color="primary" (change)="checked($event)">Incluir historico</mat-checkbox>
    <button mat-raised-button color="primary" (click)="consult()" class="mb-10" [disabled]="selected ? false : true">Consultar</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="viewData">
    <div fxLayout="row">
      <p class="fz-18 label">Ciudad</p>
      <p class="fz-18"> :{{selected.province}}, {{selected.nacionality}}</p>
    </div>
    <div fxLayout="row">
      <p class="fz-18 label">Clima</p>
      <p class="fz-18"> :{{temp | number: '1.1-1'}}°</p>
      <p class="fz-18"> - Sensación termica {{feels_like | number: '1.1-1'}}°</p>
    </div>
  
  </div>
  
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="dataSource.length > 0"> 
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    
      <!-- Nacionality Column -->
      <ng-container matColumnDef="nacionality">
        <th mat-header-cell *matHeaderCellDef> Pais </th>
        <td mat-cell *matCellDef="let element"> {{element.nacionality}} </td>
      </ng-container>
    
      <!-- Province Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Ciudad </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>
    
      <!-- Weather Column -->
      <ng-container matColumnDef="temp">
        <th mat-header-cell *matHeaderCellDef> Clima </th>
        <td mat-cell *matCellDef="let element"> {{element.temp | number: '1.1-1'}}° </td>
      </ng-container>
    
      <!-- Feels like Column -->
      <ng-container matColumnDef="feels_like">
        <th mat-header-cell *matHeaderCellDef> Sensación termica </th>
        <td mat-cell *matCellDef="let element"> {{element.feels_like | number: '1.1-1'}}° </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha/Hora de consulta </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy HH:mm'}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
