.demo-table {
    width: 95%;
}

.mat-column-feels_like {
    width: 20%;
}
.mat-column-temp {
    width: 20%;
}

.mat-column-city {
    width: 30%;
}

.fz-18{
    font-size: 18px;
}

.label{
    background: #3f51b5;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px
}

.mat-column-nacionality {
    width: 30%;
}

.mb-0{
    margin-bottom: 0px !important;
}

.mb-10{
    margin-bottom: 10px !important; 
}